<div class="col-sm-12" ng-init="init()">

	<div class="row">
		<div class="col-sm-12">
			<a href='#/users/{{client.user_id}}' class="pull-right">
				<h1 class="glyphicon glyphicon-circle-arrow-left"></h1>
			</a>
			<h1>
				CLIENT <small>{{ client.name }} ({{ client.email }})</small>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<form role="form" ng-submit="updateClient(editClient)" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : editClient.errors.name}">
					<label class="control-label" for="name">Name:</label>
					<input type="text" class="form-control" id="name" ng-model='editClient.name' placeholder="Enter client name">
					<span class="help-block">
						<div ng-repeat="error in editClient.errors.name">Name {{ error }}</div>
					</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : editClient.errors.email}">
					<label class="control-label" for="email">Email:</label>
					<input type="text" class="form-control" id="email" ng-model='editClient.email' placeholder="Enter client email">
					<span class="help-block">
						<div ng-repeat="error in editClient.errors.email">Email {{ error }}</div>
					</span>
				</div>
				<button type="submit" class="btn btn-default">EDIT</button>
			</form>
		</div>
	</div>

</div>

