<div class="col-sm-12" ng-init="init()">

	<div class="row">
		<div class="col-sm-12">
			<a href='#/users' class="pull-right">
				<h1 class="glyphicon glyphicon-circle-arrow-left">Back</h1>
			</a>
			<h1>
				USER <small>{{ user.name }} ({{ user.email }})</small>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<form role="form" ng-submit="updateUser(editUser)" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : editUser.errors.name}">
					<label class="control-label" for="name">Name:</label>
					<input type="text" class="form-control" id="name" ng-model='editUser.name' placeholder="Enter user name">
					<span class="help-block">
						<div ng-repeat="error in editUser.errors.name">Name {{ error }}</div>
					</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : editUser.errors.email}">
					<label class="control-label" for="email">Email:</label>
					<input type="text" class="form-control" id="email" ng-model='editUser.email' placeholder="Enter user email">
					<span class="help-block">
						<div ng-repeat="error in editUser.errors.email">Email {{ error }}</div>
					</span>
				</div>
				<button type="submit" class="btn btn-default">EDIT</button>
			</form>
		</div>
	</div>

</div>

