<div class="col-sm-12" ng-init="init()">

	<div class="row">
		<div class="col-sm-12">
			<a href='' ng-click="logOut()" class="pull-right">
				<h2 class="glyphicon glyphicon-log-out"></h2>
			</a>
			<h1>
				USER <small>{{ user.name }} ({{ user.email }})</small>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<form role="form" ng-submit="updateUser(editUser)" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : editUser.errors.name}">
					<label class="control-label" for="name">Name:</label>
					<input type="text" class="form-control" id="name" ng-model='editUser.name' placeholder="Enter user name">
					<span class="help-block">
						<div ng-repeat="error in editUser.errors.name">Name {{ error }}</div>
					</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : editUser.errors.email}">
					<label class="control-label" for="email">Email:</label>
					<input type="text" class="form-control" id="email" ng-model='editUser.email' placeholder="Enter user email">
					<span class="help-block">
						<div ng-repeat="error in editUser.errors.email">Email {{ error }}</div>
					</span>
				</div>
				<button type="submit" class="btn btn-default">EDIT</button>
			</form>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
			<h1>
				CLIENTS
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<form role="form" ng-submit="createClient(client)" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : client.errors.name}">
					<label class="control-label" for="name">Name:</label>
					<input type="text" class="form-control" id="name" ng-model='client.name' placeholder="Enter client name">
					<span class="help-block">
						<div ng-repeat="error in client.errors.name">Name {{ error }}</div>
					</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : client.errors.email}">
					<label class="control-label" for="email">Email:</label>
					<input type="text" class="form-control" id="email" ng-model='client.email' placeholder="Enter client email">
					<span class="help-block">
						<div ng-repeat="error in client.errors.email">Email {{ error }}</div>
					</span>
				</div>
				<button type="submit" class="btn btn-default">ADD</button>
			</form>
		</div>
		<div class="col-sm-9">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="id">id </th>
							<th class="name">name </th>
							<th class="email">email </th>
							<th class="updated_at">date update </th>
							<th class="created_at">date creation </th>
							<th>tools</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="client in clients">
							<td>{{ client.id }}</td>
							<td>{{ client.name }}</td>
							<td>{{ client.email }}</td>
							<td>{{ client.updated_at | date:'medium' }}</td>
							<td>{{ client.created_at | date:'medium' }}</td>
							<td>
								<a href='' ng-click="deleteClient(client.id, $index)">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
								<a href='#/users/{{user.id}}/clients/{{client.id}}' >
									<span class="glyphicon glyphicon-user"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

