// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

html, body {
    height: 100%;
}

.view-screen{

	height: 100%;

	.col-screen {
		height: 100%;

		.row-screen {
			height: 100%;
		}
	}

	.row-screen {
		height: 100%;
	}
}

.row-blue {
	background-color: #E3E5FA;
}

.row-red {
	background-color: #FAE3E3;
}

.row-green {
	background-color: #E7FAE3;
}

